<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSMBe4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NSMBe4.Properties.Settings>
            <setting name="SmallBlockOverlays" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mdi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageFile" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="AutoUpdateSD" serializeAs="String">
                <value>True</value>
            </setting>
        </NSMBe4.Properties.Settings>
    </userSettings>
</configuration>